<div id="user-show">
  <h1><%= @user.first_name %>'s Profile</h1>

  <p>
    <strong>Projects:</strong><br>
    <% @user.projects.each do |t| %>
    <%= link_to "#{t.title}", project_path(@user, @project) %><br>
    <% end %>
  </p>
</div>
