<%= form_for [@project, @comment], remote: true do |f| %>

  <div class="field">
    <%= f.label :Comment %>
    <%= f.text_area :comment, :placeholder => "Add a public comment..." %>
  </div>

  <div class="action">
    <%= f.submit "Post Comment" %>
  </div>
<% end %>
