<%= form_for [@project, @comment] do |f| %>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment, :placeholder => "Provide some feedback for the author" %>
  </div>

  <div class="action">
    <%= f.submit "Post Comment" %>
  </div>
<% end %>
