<li class="project-item">
  <%= link_to project_path(project.id) do %>
    <h3>
      <%= project.title %>
    </h3>
    <%= image_tag project.cover_image.url(:thumb) %>
  <% end %>
  <p><%= truncate(project.description, length: 140) %></p>
</li>
