<% if @project.user == current_user %>

  <h1>Edit project</h1>
    <%= render 'edit_project' %>
<% else %>
  <h3>Nothing to see here... Check out our main <%= link_to "Projects", root_path %> page!</h3>
<% end %>
