<h1>Edit project</h1>

<% if @project.user == current_user %>
  <%= render 'form' %>
  <%= link_to "Delete Project", @project, method: :delete, data: {confirm: "Are you sure you want to delete this project?"} %>
<% end %>
