<div id="search-feature">
  <%= form_tag projects_path, method: :get, id: 'search-form' do %>
    <div id="search-input">
      <%= text_field_tag :search, params[:search], :placeholder => "Search Projects" %>
    </div>
  <% end %>
</div>
<div class="background">
  <div id="hero-container">
    <!-- <div id="animated-text">
      <p>EXT. ROOSEVELT GATE - MORNING</p>
      <p>Scene-action</p>
      <p>CHARACTER</p><br>
      <p>The PROTEST in front of the gate is getting rowdier its energy and numbers swelling.</p><br>
      <p>A group of STUDENTS these more brisk, organized, all bearded and dressed in flak jackets</p>
      <p> push their way to the front of the protest <span>|</span></p>
    </div> -->
  </div>

  <div id="projects">
    <h1>Projects</h1>
      <ul id="projects-list">
        <%= render @projects %>
      </ul>

      <%= link_to 'All projects', projects_path, id: "all-projects-link" %>

  </div>

</div>
