<div id="search-feature">
  <%= form_tag projects_path, method: :get, id: 'search-form' do %>
    <div id="search-input">
      <%= text_field_tag :search, params[:search], :placeholder => "Search Projects" %>
    </div>
  <% end %>
</div>

<div id="projects">
  <h1>Projects</h1>
    <ul id="projects-list">
      <%= render @projects %>
    </ul>
    <%= link_to 'All projects', projects_path %>
</div>
