// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#script-tools {
  width: 400px;
  height: 200px;
  background-color: red;
}

#formatting-buttons {
  list-style-type: none;
}

.italicYellowBg {
  font-style: italic;
  background-color: yellow;
}

.character {
  font-family: Monospace;
  text-transform: uppercase;
  text-align:center;
  font-size: 1em;
}

#left-sidebar {
  // float: left;
  display: inline-block;
  padding: 0px 30px 0 0;
}

#script-container {
  float: left;
  width: 60%;
}

#script-container h2{
  margin-top: 0;
}

.scene-heading {
  text-transform: uppercase;
}

.scene-action {
  font-style: italic;
}

.character-name {
  font-family: Monospace;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

#show-container {
  padding-top: 40px;
  // clear: both;
  // overflow: auto;
}

input#scene_heading, textarea#scene_action {
  border: none;
  font-size: 1em;
  line-height: 1.5rem;
  width: 100%;
  // margin: 5px 0 5px 0;
  background-color: #f8f8f8;
  border-radius: 5px;
}

a.add_fields {
  display:block;
  background-color: #71D6E3;
  padding: 10px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  margin: 0 0 5px 0;
}

.navbar {
  position: fixed;
  background-color: $basic;
  height: 3.5rem;
  width: 100%;
  z-index: 2;
  padding: 1.2rem 1rem;
  border-bottom: 1px solid $light-gray;
}

.navbar-navigation-left {
  float:left;
}

.navbar-navigation-right {
  float:right;
}

.navbar-navigation-right li {
  display: inline;
  padding-left: 1rem;
}

#search-feature {
  padding-top: 3.5rem;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid $light-gray;
}

#search-input {
  text-align: center;
  margin: 8px 0 0 0;
}

#search {
  width: 40%;
  background-color: #f8f8f8;
}

#new-project {
  float:left;
}

#comment-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: $turquoise;
}

#comment-time {
  font-size: 0.9rem;
  color: $medium-gray;
}

#new-project-button {
  background-color: $brand;
  padding: 8px 35px;
  border-radius: 5px;
}

#new-project-button a {
  color: $basic;
}

#projects {
  padding: 1rem;
  margin: 20px;
}

.project-item {
  background-color: red;
}
