body {
  height: 100%;
}

#projects-list {
  @include outer-container;
}

#projects-list a {
  @include media(max-width 549px) {
    @include span-columns(12);
    margin-bottom: 1rem;
  }
  @include media(min-width 550px) {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: 1rem;
  }
}

.project-item {
  @include media(max-width 549px) {
    background-color: $basic;
    height: 185px;
    overflow: hidden;
    border-radius: $base-border-radius;
    box-shadow: 0px 1px 1px 1px $light-gray;
  }

  @include media(min-width 550px) {
    background-color: $basic;
    // border: 1px solid $light-gray;
    border-radius: $base-border-radius;
    box-shadow: 0px 1px 1px 1px $light-gray;
    height: 185px;
    overflow: hidden;
  }
}

#projects {
  @include media(max-width 549px) {
    width: 100%;
    padding: 1rem 1rem 8rem 1rem;
    // background-color: $basic;
  }

  @include media(min-width 550px) {
    width: 100%;
    padding: 1rem 1rem 8rem 1rem;
    // background-color: #FAFAFA;

  }
}

.project-thumb-image {
  @include media(max-width 549px) {
    @include span-columns(4.25 of 12);
    margin: 0;
  }

  @include media(min-width 550px) {
    @include span-columns(1.5 of 6);
    margin: 0;
    background-size: cover;
  }

  img {
    width: 100%;
  }
}

.project-card-info {
  @include media(max-width 549px) {
    @include span-columns(7.75 of 12);
    color: $dark-gray;
    padding: 1rem;
  }

  @include media(min-width 550px) {
    @include span-columns(4.5 of 6);
    padding: 1rem;
  }

  h3, p {
    color: $dark-gray;
  }
}

.show-page-btn {
  padding-top: 1rem;

  a {
    text-decoration: none;
    color: $medium-gray;
  }
}

// Forms::New Project & Edit Project

#new-project-form-wrapper {
  @include outer-container;
}

#new_project, #edit-project-form {
  @include media(max-width 549px) {
    @include span-columns(12);
    padding: 4rem 1rem 3rem 1rem;
    margin: auto;
    background-color: $basic;
  }

  @include media(min-width 550px) {
      @include span-columns(6);
      @include shift(3);
      padding: 4rem 1rem 3rem 1rem;
      // background-color: $basic;
  }

  & input {
    width: 100%;
  }

  & textarea {
    width: 100%;
  }

}

// Forms::Sign Up & Login

#login-form, #new-user-form {
  @include media(max-width 549px) {
    @include span-columns(12);
    padding: 4rem 1.5rem 3rem 1.5rem;
    margin: auto;
    background-color: $basic;
  }

  @include media(min-width 550px) {
      @include span-columns(6);
      @include shift(3);
      padding: 4rem 1.5rem 3rem 1.5rem;
      background-color: $basic;
  }

  & input {
    width: 100%;
  }

  & textarea {
    width: 100%;
  }
}

#forgot-password {
  color: #1E90FF;
}

#remember label {
  width: 50px;
  height: 50px;
}

// Buttons

#{$all-buttons} {
  appearance: none;
  color: $basic;
  background-color: $medium-gray;
  text-decoration: none;
  border-radius: $base-border-radius;
  padding: $small-spacing $base-spacing;
  border: 0;
}

input[type="submit"] {
  background-color: $green;
}

.field .blue-btn {
  background-color: $blue;
}

// .background {
//   background-color: #F1F1F1; //#FAFAFA;
//   height: auto;
//   min-height: 100%;
// }

#show-container {
  @include outer-container;
}
// User Show Page

#user-show {
  padding: 4rem 1rem 3rem 1rem;
}

// Show Page::Project & Script Show

#right-sidebar {
  @include media(max-width 549px) {
    @include span-columns(12);
    padding: 4rem 1rem 3rem 1rem;
    margin: auto;
    // background-color: $basic;
    border-bottom: 1px solid $light-gray;
  }

  @include media(min-width 550px) {
    @include span-columns(4 of 12);
    float: right;
    padding: 4rem 1rem 3rem 1rem;
    // background-color: $basic;
    border-bottom: 1px solid $light-gray;
    margin: 0;
  }

}

#script-container {
  @include media(max-width 549px) {
    @include span-columns(12);
    padding: 1rem 1rem 3rem 1rem;
    margin: auto;
    // background-color: $basic;
    margin-top: 1rem;
    border-bottom: 1px solid $light-gray;
  }

  @include media(min-width 550px) {
    @include span-columns(8 of 12);
    padding: 4rem 1rem 3rem 1rem;
    // background-color: $basic;
    margin: 0;
  }

  h1 {
    font-family: Monospace;
    text-align: center;
    font-size: 1.5rem;
  }
}

#comments {
  @include media(max-width 549px) {
    @include span-columns(12);
    padding: 1rem 1rem 8rem 1rem;
    margin: auto;
    // background-color: $basic;
    margin-top: 1rem;
    color: $dark-gray;
  }

  @include media(min-width 550px) {
    @include span-columns(4 of 12);
    float: right;
    padding: 3rem 1rem 3rem 1rem;
    // background-color: $basic;
    margin: 0;
    color: $dark-gray;
    clear: right;
  }

  textarea {
    width: 100%;
  }
}

#comment-name {
  font-size: 1rem;
  font-weight: bold;
  color: $blue;
}

#comment-time {
  font-size: 0.9rem;
  color: $medium-gray;
}

#all-projects-link {
  text-decoration: none;
  color: #fff;
  background-color: $green;
  text-align: center;
  position:relative;
  top: 0.5rem;
  border-radius: $base-border-radius;
  padding: $small-spacing $base-spacing;
  border: 0;
}

// Forms::Script & Character

#scene_heading, #scene_action {
  width: 100%;
}

.clear-me input, textarea {
  width: 100%;
}

.scene {
  padding: 1rem 0 1rem 0;
}

#create-btn input {
  width: 100%;
  clear: both;
}

// Script Formatting

.scene-heading {
  font-family: Monospace;
  text-transform: uppercase;
  font-weight: bold;
  color: $dark-gray;
}

.scene-action {
  font-family: Monospace;
  padding: 0.5rem 0;
  color: $dark-gray;
}

.character-name {
  font-family: Monospace;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-top: 0.5rem;
  color: $dark-gray;
}

.character-dialogue {
  font-family: Monospace;
  padding: 0.5rem 2rem 0.5rem 2rem;
  color: $dark-gray;
}

.character-parenthetical {
  font-family: Monospace;
  padding: 0.5rem 0 0rem 0;
  text-align: center;
  color: $dark-gray;
}

#edit-scene {
  padding-top: 0.8rem;
  text-align: right;

  a {
    text-decoration: none;
    color: $medium-gray;
  }
}

// Forms::Edit Scene

#edit-scene-form {
  @include media(max-width 549px) {
    @include span-columns(12);
    padding: 4rem 1rem 3rem 1rem;
    margin: auto;
    background-color: $basic;
  }

  @include media(min-width 550px) {
      @include span-columns(6);
      @include shift(3);
      padding: 4rem 1rem 3rem 1rem;
      background-color: $basic;
  }
}

#edit-btn input {
  width: 100%;
}

.delete-btn {
  background-color: #DD4B39;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  border-radius: $base-border-radius;
  padding: $small-spacing $base-spacing;
  border: 0;

  & a {
    text-decoration: none;
    color: $basic;
  }
}

a.add_fields {
  float: left;
  text-decoration: none;
  color: #fff;
  background-color: $blue;
  text-align: center;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  border-radius: $base-border-radius;
  padding: $small-spacing $base-spacing;
  border: 0;
}

a.remove_fields {
  float: left;
  text-decoration: none;
  color: $basic;
  background-color: $dark-gray;
  text-align: center;
  margin: 0.5rem 0.5rem 0 0;
  border-radius: $base-border-radius;
  padding: $small-spacing $base-spacing;
  border: 0;
}

.nested-fields {
  clear: both;
  padding-top: 1rem;
}

// Footer

#webpage {
  background-color: #F1F1F1; //#FAFAFA;
  height: auto;
  min-height: 100%;
}
//
#footer {
  position: relative;
  bottom: 0;
  margin-top: -5rem;
  width: 100%;
  height: 5rem;
  clear: both;
  background-color: #3E3D3F;
  color: $icon-gray;

  a {
    float: right;
    padding: 1rem 1rem 0 0;
    font-size: 0.8rem;
  }

  p {
    float: left;
    padding: 1rem 0 0 1rem;
    font-size: 0.8rem;
    line-height: 1.4;
  }
}
