// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#script-tools {
  width: 400px;
  height: 200px;
  background-color: red;
}

#formatting-buttons {
  list-style-type: none;
}

.italicYellowBg {
  font-style: italic;
  background-color: yellow;
}

.character {
  font-family: Monospace;
  text-transform: uppercase;
  text-align:center;
  font-size: 1em;
}
