<div class="navbar">
  <aside class="sidebar">
    <ul class="navbar-navigation-right">
      <li><%= link_to "SIGN UP", new_user_path %></li>
      <li><%= link_to "LOGIN", :login %></li>
    </ul>
  </aside>

  <ul class="navbar-navigation-left">
    <li><%= link_to "BetaScript", projects_path, class: "logo-nav" %></li>
  </ul>
  <a id="nav-toggle" href="#"><span></span></a>

</div>
