<div class="navbar">
  <ul class="navbar-navigation-left">
    <li><span id="logo"><%= link_to "BetaScript", projects_path %><span></li>
  </ul>
  <ul class="navbar-navigation-right">
    <%= link_to "Register", new_user_path %> |
    <%= link_to "Login", :login %>
  </ul>
</div>
